<plugin id="outsystems-universal-links-wrapper" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>OutSystems Universal Links Wrapper</name>
    <description>Wrapper to inject universal link config for OutSystems</description>
    <license>MIT</license>

    <!-- Use cordova-plugin-deeplinks instead of cordova-universal-links-plugin -->
    <dependency id="cordova-plugin-deeplinks"
                url="https://github.com/e-imaxina/cordova-plugin-deeplinks.git" />

    <variable name="UL_HOST"   default="myamu-dev.apus.edu" />
    <variable name="UL_SCHEME" default="https" />
    <variable name="UL_EVENT"  default="ul_deeplink" />
    <variable name="UL_PATHS"  default="/campaign/*,/campaign" />

    <!-- iOS: still inject universal-links for compatibility -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <universal-links>
                <host name="$UL_HOST" scheme="$UL_SCHEME" event="$UL_EVENT">
                    $UL_PATHS
                </host>
            </universal-links>
        </config-file>
    </platform>

    <!-- Android: no <universal-links> tag, handled by cordova-plugin-deeplinks plugin -->
    <platform name="android">
        <!-- Deeplinks configuration handled via plugin variables -->
    </platform>
</plugin>
