<plugin id="outsystems-universal-links-wrapper" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">


    <name>OutSystems Universal Links Wrapper</name>
    <description>Wrapper to inject universal link config for OutSystems</description>
    <license>MIT</license>


    <!-- Use cordova-plugin-deeplinks instead of cordova-universal-links-plugin -->
    <dependency id="cordova-plugin-deeplinks"
                url="https://github.com/e-imaxina/cordova-plugin-deeplinks.git" />

    
 
    <!-- iOS:  injects universal-links for only for ios - working -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <universal-links>
                <host event="ul_deeplink" name="myamu-dev.apus.edu" scheme="https">
                    <path url="/campaign/*" />
                    <path url="/campaign" />
                </host>
            </universal-links>
        </config-file>

        <edit-config
            file="**/Entitlements-Release.plist"
            mode="merge"
            target="com.apple.developer.associated-domains">
            <array>
                <string>applinks:myamu-dev.apus.edu</string>
            </array>
        </edit-config>        
        
        <edit-config
            file="**/Entitlements-Debug.plist"
            mode="merge"
            target="com.apple.developer.associated-domains">
            <array>
                <string>applinks:myamu-dev.apus.edu</string>
            </array>
        </edit-config>

    </platform>

    <!-- Android: no <universal-links> tag, handled by cordova-plugin-deeplinks plugin (not working with this xml) -->
   <!-- <platform name="android">
        <config-file target="config.xml" parent="/*">
            <universal-links>
                <host event="ul_deeplink" name="myamu-dev.apus.edu" scheme="https">
                    <path url="/campaign/*" />
                    <path url="/campaign" />
                </host>
            </universal-links>
        </config-file>
    </platform> -->

    <!-- <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.eimaxina.cordova.deeplinks.DeepLinkActivity" android:exported="true">
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="https" android:host="myamu-dev.apus.edu" android:pathPrefix="/campaign" />
                </intent-filter>
            </activity>
        </config-file>
    </platform> -->

   
    <!-- <edit-config
           file="**/Entitlements-Release.plist"
           mode="merge"
           target="com.apple.developer.associated-domains">
           <array>
               <string>applinks:$UL_HOST</string>
           </array>
       </edit-config>        <edit-config
           file="**/Entitlements-Debug.plist"
           mode="merge"
           target="com.apple.developer.associated-domains">
           <array>
               <string>applinks:$UL_HOST</string>
           </array>
    </edit-config> -->

 <!-- universal links are not working by  </config-file>-->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
            <universal-links>
                <host event="ul_deeplink" name="myamu-dev.apus.edu" scheme="https">
                    <path url="/campaign/*" />
                    <path url="/campaign" />
                </host>
            </universal-links>
        </config-file>
        <hook type="after_platform_add" src="scripts/configInjector.js" />
        <hook type="before_prepare" src="scripts/configInjector.js" /> 
    </platform>



   
    <!-- Hooks -->
    <!-- <hook type="after_platform_add" src="scripts/entitlements.js" />
    <hook type="after_prepare" src="scripts/entitlements.js" /> -->
    <!-- <hook type="after_platform_add" src="scripts/configInjector.js" />
    <hook type="before_prepare" src="scripts/configInjector.js" /> -->
    <!-- <hook type="before_prepare" src="scripts/appDomainInjector_ios.js" /> -->


   
</plugin>
